@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
#customer_body{
  width: 100%;
  height: 100%;
  font-family: 'Pretendard-Regular';
  background-color: #E9ECF1;
}
#customer_container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1250px;
  position: relative;
}
#customer_list{
  position: absolute;
}
#customer_b{
  position: absolute;
}

#customer_list_body{
  margin: 0 auto;
  width: 200px;
  height: 100%;
}
#customer_list_container{
  width: 170px;
  height: 100%;
}

#customer_list_div{
  font-weight: bolder;

  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #525F6E;
  width: 200px;
  height: 80px;
}
#customer_list_div1{
  font-size: 16px;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
}
#cutomer_list_item a.active #customer_list_div1 {
  color: #0062DF;  
  font-weight: bolder;
  font-size: 18px;
}
#bug_btn_style{
  padding: 0;
  font-family: 'Pretendard-Regular';
  border: none;
}

@media (max-width: 780px) {
  #customer_list_body {
    overflow-x: hidden;
    margin: 0;
    width: 100%;
  }
  #customer_container{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  #customer_list_container{
    width: 100%;
    font-size: 10px;
  }
  #customer_list_div{
    width: 100%;
    height: 60px;
  }
  #cutomer_list_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
  #customer_list_div1{
    width: 100%;
  }

  /*  test---------------------- */
  /* #customer_list_body{
    font-family: 'Pretendard-Regular';
    width: 100%;
  }
  #customer_list_container{
    width: 500px;
    display: flex;
  }
  #cutomer_list_item{
    display: flex;
  }
  #customer_list_div{
    color: white;
    font-weight: 700;
    text-align: center;
    background-color: #525F6E;;
    width: 125px;
  }
  #customer_list_div1{
    text-align: center;
    color: black;
    width: 125px;
  } */
}