@charset "utf-8";

.Coin__Detail {
    width: 78%;
    height: calc(100vh - 3rem);
    background: #fff;
    /* border: 1px solid #000; */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .12);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 50px;
}