@charset "utf-8";

.Section {
    margin-top: 1rem;
    /* border-top: 1px solid #d9d9d9; */
    padding: 1rem 0;
    display: flex;
    width: 40%;
}
.Section__Title h3 {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
}
.Order__Head {
    display: flex;
}
.Order__Type {
    margin: 0 1rem;
}
.Order__Type p {
    font-size: 1.4rem;
    margin: 0;
    cursor: pointer;
    color: #333;
}
.Order__Type p.on {
    text-decoration: underline;
}



.Order__Box .Order__Inner {
    display: flex;
    flex: 1;
    width: 40%;
    gap: 10px;
}
.Order__Box .Order__Inner > div {
    flex: 1;
}

.Orderbook__Wrap {
    height: 100%;
}

@media all and (min-width:1024px) {
    
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px) */
@media all and (min-width:768px) and (max-width:1023px) {
  
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    .Section {
        width: 100%;
    }
}