/* TodayFortune.css */

.fortune-card {
  border-radius: 12px;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  transition: transform 0.5s;
  cursor: pointer;
  margin: 20px;
  margin-top: 0px;
}
.fortune-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#fortunecss{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fortune-card:hover {
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(213, 213, 219, 0.5);
}

.fortune-card:active {
  transform: rotateY(180deg);
}

.card-content {
  background-image: url('./1.png');
  border-radius: 12px;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:  white;
  border: 1px solid #ccc;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    

}

.fortune-card:active .card-content {
  transform: rotateY(180deg);
}
@media (max-width: 1024px){
  .fortune-cards-container {
    flex-wrap: wrap;
  
  }

  .fortune-card {
    
    width: 100px;
    height: 200px;
    font-size: 10px;
  }
  .card-content{
    width: 100px;
    height: 200px;
    font-size: 10px;
    background-image: url('./2.png');
  }
}
#luckyh1{
  text-align: center;
}
