#luck-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#luck-img-box {
  width: 100%;
  height: 280px;
}

#luck-img-box > img{
  width: 100%;
  height: 280px;
}

#luck-detail-box {
  width: 100%;
  height: 130px;
}
.luck-logo-style {
  font-size: 24px;
  font-family: 'SBAggroB';
}

#luck-detail-box > p {
  font-size: 22px;
}

@media all and (max-width:767px) { 

  #luck-detail-box > p {
    font-size: 16px;
    padding: 20px 20px;
  }
 }