.MyPage__Wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.MyPage__Container {
  width: 1100px;
  min-height: 860px;
  display: flex;
  align-items: center;
}

.Exchange__wrapper {
  display: flex;
}

#CoinList__Wrapper {
  width: 100%;
}