* {
  margin: 0;
  padding: 0;
}

/* ModalStyles.css */
.MuiDialog-paper {
  width: 90vw; /* 120% of the viewport width */
  height: 90vh; /* 120% of the viewport height */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}

/* p {
  margin-bottom: 10px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
} */
#imgupload{
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  background-color: #000; /* 검정색 배경색으로 변경 */
  color: #fff;
  &:hover {
    background-color: #333; /* hover 시 어둡게 변경 */
  }
}

/* Specific button styles */
.editButton {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
}

.closeButton {
  background-color: #333;
  color: #fff;
}

.writeButton {
  width: 80px;
  padding: 12px;
  background-color: #000;
  color: #fff;
}

.writeButton:hover {
  background-color: #333;
}

.userListPatch, .userListDelete {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}





/* htmlboard_p 글작성 */
#htmlboard_p_container{
  width: 100%;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.htmlreview_main{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 3px solid #ff0000; */
}
#htmlreview_p_container{
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
#htmlreview_p_top{
  width: 1200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
   /* border: 3px solid #8d1818; */
}
#htmlreview_p_main{
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid #000; */
}
#img_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* 이미지와 내용 사이에 여백 추가 */
}
#plusBtns{
  width: 1200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}
#plusBtn{
  width: 100px;
  margin-left: auto;
}
/* htmlboard_p css */

.htmlboard_p_body{
  width: 100%;
  height: 1400px;
  display: flex;
  align-items: center;
}
#htmlboard_p_body_a {
  width: 1200px;
  margin: 0 auto;
}

#htmlboard_p_container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

#htmlboard_p_top{
  width: 1200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  /* border: 1px solid #000; */
}

#htmlboard_p_main{
  width: 2000px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid #000; */
}
#add_close_btns_p{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
  /* border: 1px solid #000; */
}
