#intro-body {
  width: 100%;
  height: 900px;
  background-color: rgb(41, 41, 41);
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#intro-text-bg {
  width: 400px;
  height: 400px;
  background-image: url('./intro-money.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-logo-style {
  color: white;
  font-size: 86px;
  font-family: 'SBAggroB';
}
 
.intro-btn-con {
  width: 400px;
  height: 50px;
  margin-top: 30px;
}

.intro-btn {
  width: 200px;
  height: 50px;
}

.intro-btn > a {
  color: white;
  font-size: 20px;
  font-family: 'PuradakGentleGothicR';
  letter-spacing: 5px;
}

.intro-btn-style {
  background: #000;
 color: #fff;
 line-height: 42px;
 padding: 0;
 border: none;
-webkit-transition: all 0.3s linear;
 transition: all 0.3s linear;
 cursor: pointer;
 border-radius: 35px;
}
.intro-btn-style:hover {
 background: transparent;
 color: #000;
}
.intro-btn-style:before,
.intro-btn-style:after {
 position: absolute;
 content: "";
 left: 0;
 right: 0;
 z-index: -1;
 background: #000;
 transition: all 0.3s ease;
}
.intro-btn-style:before {
 top: 0;
}
.intro-btn-style:after {
 bottom: 0;
}
.intro-btn-style:hover:before,
.intro-btn-style:hover:after {
 height: 0;
 background-color: #000;
}
