#footer-body {
  width: 100%;
  height: 250px;
  background-color: black;
  color: rgb(179, 179, 179);
  font-family: 'Pretendard-Regular';
  padding: 25px 0;
}

#footer-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-box {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  #footer-body {
    max-width: 1023px;
    height: 250px;
  }

  #footer-container {
    max-width: 750px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-box {
    width: 230px;
    height: 125px;
  }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  #footer-body {
    max-width: 766px;
    height: 100%;
  }

  #footer-container {
      width: 100%;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
}