#search_container_a{
  width: 800px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  /* border: 1px solid #000; */
}
#searchresult_main{
  width: 100%;
  height: auto;
  margin-top: 50px;
}
#custom_input_searchbar{
  width: 100%;
}
.MuiBox-root {
  width: 130vh;
}